@tailwind base;
@tailwind components;
@tailwind utilities;


/* .bg-home{
    background-image: url('./Pages/Home/BackgroundHome.svg');
    background-attachment: fixed;
    background-repeat: repeat;
    
} */

/* Custom styles for the slider dots */
.slick-dots li button {
    font-size: 40px; /* Adjust dot size */
    color: red; /* Change default dot color */
    opacity: 1; /* Ensure the dot is fully visible */
  }
 

  ::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--google-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--google-green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--google-blue);
}

:root {
  --google-green: #0F9D58;
  --google-blue: #4285F4;
}