@tailwind base;
@tailwind components;
@tailwind utilities;


/* .bg-home{
    background-image: url('./Pages/Home/BackgroundHome.svg');
    background-attachment: fixed;
    background-repeat: repeat;
    
} */

.slick-dots li button {
    font-size: 40px; 
    color: red; 
    opacity: 1;
  }
 

  ::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.476);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--google-green);
}



:root {
  --google-green: #0F9D58;
  --google-blue: #4285F4;
}

.team_main_bop_wrapper {
  box-shadow: 0px 0px 7px 0px #000000dd;
  transition: box-shadow 0.3s ease;
}

.team_main_bop_wrapper:hover {
  box-shadow: 1px 1px 15px 1px #08ee4ddd;
}

.team_main_bop_wrapper img {
  transition: transform 0.3s ease;

}

.team_main_bop_wrapper:hover img {
  transform: scale(1.1);
  box-shadow: inset  0px 7px 0px #b901f1e6;

}

.team_main_bop_wrapper .social-icons {
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0px 0px 7px 0px #000000dd;

}

.team_main_bop_wrapper:hover .social-icons {
  opacity: 1;
}

.team_main_bop_wrapper .overlay {
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.team_main_bop_wrapper:hover .overlay,
.team_main_bop_wrapper:hover .social-icons {
  opacity: 1;
}

.contact-bg{

  background-image: url('./Pages/Contact/contactform_bg.svg');
   background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-symbol{
box-shadow: 0px 0px 4px 0px #ffffffdd;
  transition: box-shadow 0.3s ease;
backdrop-filter: blur(4px);
}



.members .image:hover .overlay {
  opacity: 0.5;
}

.members .image:hover .social-icons {
  opacity: 1;
}

.members .image:hover .text-div {
  opacity: 1;
}

.group:hover .overlay {
  opacity: 0.5;
}

.group:hover .social-icons {
  opacity: 1;
}

.group:hover .text-div {
  opacity: 1;
}
.members:hover {
  box-shadow: 1px 1px 15px 1px #08ee4ddd;
}
.members{
  
  box-shadow: 0px 0px 7px 0px #000000dd;

}

.border-animation {
  position: relative;
  display: inline-block;
}

.border-animation::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f97316; 
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.border-animation:hover::after {
  transform: scaleX(1);
}

.AboutStartBg {
  position: relative;
  background-image: url("https://img.freepik.com/premium-photo/nature-leaves-green-tropical-forest-backgound-background-image-website-background-images_1047054-15186.jpg");
  background-size: cover;
  height: 65vh;
}

.AboutStartBg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.693); 
  backdrop-filter: blur(0.1px);
}

.AboutStartBg .text {
  position: relative;
  z-index: 1; 
  text-align: center;
}

.AboutMobile {
  position: relative;
  background-image: url("../public//AboutMobile.jpg");
  background-size: cover;
  width: 100%;

}

.AboutMobile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.693); 
  backdrop-filter: blur(0.1px);
}

.AboutMobile .text {
  position: relative;
  z-index: 1; 
  text-align: center;
}



.BlogStartBg {
  position: relative;
  background-image: url("https://resumekraft.com/wp-content/uploads/2021/08/marketing-linkedin-background-photo-3-1024x256.jpg");
  /* background-size: contain; */
  /* height: 60vh; */
  background-size: cover;
  height:50vh;
}

.BlogStartBg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.626); 
  backdrop-filter: blur(2px);
}

.BlogStartBg .textBlog {
  position: relative;
  z-index: 1; 
  text-align: center;
}

.EventStartBg {
  position: relative;
  background-image: url("../public/eventstart.jpg");
  /* background-size: contain; */
  /* height: 60vh; */
  background-size: cover;
  height:65vh;
}

.EventStartBg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.626); 
  backdrop-filter: blur(2px);
}


.EventStartBg .textEvent {
  position: relative;
  z-index: 1; 
  text-align: center;
}

.MemberStartBg {
  position: relative;
  background-image: url("../public/Members.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
   
  height: 60vh
}
.MemberStartBg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41); 
  backdrop-filter: blur(0.6px);
}

 .MemberStartBg .textMember {
  position: relative;
  z-index: 1; 
  text-align: center;
}

.MemberMobile {
  position: relative;
  background-image: url("../public/members.jpg");
  background-size: cover;
  width: 100%;
height: 230px;
}

.MemberMobile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.545); 
  backdrop-filter: blur(0.6px);
}

.MemberMobile .text {
  position: relative;
  z-index: 1; 
  text-align: center;
}

.GalleryStartBg {
  position: relative;
  background-image: url("https://media.licdn.com/dms/image/C4D12AQEKTKvETtChsg/article-cover_image-shrink_720_1280/0/1602351026765?e=2147483647&v=beta&t=lqegfL111E4XBmcjBNhLwaPfTZJyEQMVFIc1bf0zs1Q");
  /* background-size: contain; */
  /* height: 60vh; */
  background-size: cover;
  height:70vh;
}

.GalleryStartBg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64); 
  backdrop-filter: blur(1px);
}

.GalleryStartBg .textGallery {
  position: relative;
  z-index: 1; 
  text-align: center;
}


.slider-shadow{

  box-shadow: 0px 0px 8px 0px #0f5201dd;
  transition: box-shadow 0.3s ease;
}

.imagestyle {
  box-shadow: inset 0 5px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.imagestyle:hover {
  transform: scale(1.05);
}



@media (max-width: 767px) {
  .guide-mobile {
    display: block; /* Ensure the element is displayed on mobile */
    background: linear-gradient(45deg, #0f6c3f 13%, #34d399 100%);
    box-shadow: inset 1px 1px 10px 1px rgba(99, 98, 98, 0.699);
  }
}

/* @media (min-width: 768px) {
  .guide-mobile {
    display: none; 
  }
} */